
{{>menu}}
<div class='hero-image'>
  <button onclick='logout()'>
    Cerrar sesión
  </button>
  <div class='hero-text'>
    <h1>
      Perfil
    </h1>
    <p>
      Nombre:
      {{nombre}}
    </p>
    <p>
      Apellido:
      {{apellido}}
    </p>
    <p>
      edad:
      {{edad}}
    </p>
    <p>
      email:
      {{email}}
    </p>
    {{#if phone}}
    <p>
      Teléfono:
      {{phone}}
    </p>
    {{/if}}
      <form onsubmit="docs(event,'{{userId}}')" class="crud-form" id="crud-form" >
          <input id="form-file" type="file" name="file" class='file' placeholder="Imagen"/>
          <br>
          <input type="submit"value="Agregar Archivo o Imagen de Perfil">
      </form>
      <p id="doc-id"></p>
  </div>
  <script src="/js/userDoc.js" ></script>
</div>