{{>menu}}
<div class='hero-image'>
  <div class='hero-text'>
    <h1>
      Ingresar
    </h1>
    <span class="email">{{role}}</span>
        {{#if (eq role 'user')}}
        <button onclick="premium('{{userId}}', '{{role}}')">Cambiar a premium</button>
        {{else}}
        <button onclick="premium('{{userId}}', '{{role}}')">Cambiar a user</button>
        {{/if}}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/js/premium.js'></script>