{{>menu}}
<section>
    <div className='item_image'>
        <img className='productoImagen' src="../img/{{products.thumbnail}}" alt="{{products.title}}"/>
    </div>
    <div className='productoNombre'>
        <h2 className="nombre">{{products.title}}</h2>
        <h2 className="nombre">{{products.category}}</h2>
        <h2 className="nombre">Stock:{{products.stock}}</h2>
    </div>
    <button onclick="addProd({{products._id}})" >Agregar al carrito</button>
</section>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/index.js" ></script>