<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">       Librería</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/api/products">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/chat">Chat</a>
      </li>
      {{#if user}}
              <li class="nav-item"><a class="nav-link" href="/api/users/current">Perfil</a></li>
              {{#if cart}}
                <li class="nav-item nav-cart"><a href="/api/carts/{{cart}}"class="nav-link">Finalizar compra<img class="cart" src="../img/carrito.png" alt=""></a></li>
              {{/if}}
              <li class="nav-link text">Bienvenido {{user.first_name}} {{user.last_name}}. Su rol es: {{user.role}}</li>
      {{else}}
            <li class="nav-item"><a class="nav-link" href="/api/users/register">Registrate</a> </li>
            <li class="nav-item"><a class="nav-link" href="/api/users/login">Inicia Sesión</a></li>
      {{/if}}
    </ul>
  </div>
</nav>